.odd {
    background-color: lightpink; font-family: Verdana, DejaVu Sans, sans-serif;
}

.odd.big {
    font-size: 28px;
}

#two {
    font-size: 42px;
    color: blue;
}

#four {
    font-size: 32px;
    background-color: lightgreen;
    font-weight: 700;
}